* {
    @include prefixer (box-sizing, border-box, webkit moz);
}

body {
    font-family: 'Coda', cursive;
}

ul,
ol {
    list-style: none;
    padding: 0;
}

.container {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    
    @media #{$min-small} {
        width: 750px;
    }
    @media #{$min-medium} {
        width: 970px;
    }
    @media #{$min-large} {
        width: 1170px;
    }
}

.center-all{
    text-align: center;
}

.clearfix {
    clear: both;
}
